@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/theme.css";
@import "tailwindcss/utilities";

.form-input {
    border: 0;
}

.bg-indigo-600 {
    background-color: #384B70 !important;
}

.bg-main {
    background-color: #384B70 !important;
}